:root {
    /* Fonts */
    --primary-font: Arial, Helvetica, sans-serif;;
    --secondary-font: 'Courier New', Courier, monospace;

    /* Sizes */
    font-size: 14px;
    --container-width: 1350px;

    /* Colors */
    --primary-color: #EE2E31;
    --secondary-color: #FDF148;
    --background-dark: #3c3c3c;
    --light-green: #679289;

    /* Transistion */
    --transition-duration: .5s;
    --transition-function: ease;
}

/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
dl, dt, dd {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    font-family: var(--primary-font);
}


/* HEADER  */

.header {
    width: 100%;
    color: #fff;
    background-color: var(--background-dark);
}

.header-content {
    position: relative;
    padding: 1rem;
    margin: 0 auto;
    max-width: var(--container-width);
}

.header-ttl {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    width: 5rem;
    aspect-ratio: 1/1;
}

.header-txt {
    padding-left: 1rem;
    font-size: 2rem;
    line-height: 2rem;
    color: #fff;
}
.header-txt > span {
    display: block;
}

/* CART */

.cart {
    position: absolute;
    right: 2rem;
    top: calc(50% - 3rem / 2);
}
.cart-img {
    width: 3rem;
}
.cart-nb {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    display: flex;
    width: 2rem;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--background-dark);
    font-weight: bold;  

}


/* PRODUCT DETAILS */

.page-ttl {
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: normal;
}

.product-descr,
.product-advantages,
.product-car {
    padding: 1rem;
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    line-height: 1.5;
}

.product-descr {
    padding: 0 1rem;
}

.product-subttl {
    padding: 1rem;
    font-size: 2rem;
    font-weight: normal;
    border-bottom: 1px solid var(--background-dark);
    margin-bottom: 1rem;
}

.product-acrd-lnk {
    position: relative;
    text-align: left;
    cursor: pointer;
}
.product-acrd-lnk::after {
    content: "🔺";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: calc(50% - 1rem);
    right: 1rem;
    width: 2rem;
    aspect-ratio: 1/1;
    font-size: 1.5rem;
}
.product-acrd-lnk.closed::after {
    content: "🔻";
}

.product-advantages > li {
    position: relative;
    margin-left: 5rem;
    margin-bottom: 1rem;
}

.product-advantages > li::before {
    content: "✔️";
    position: absolute;
    left: -3rem;
    top: 0;
}

.product-car {
    display: grid;
    grid-template-columns: 140px 1fr;
    gap: 1rem;
}

.product-car > dt {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .product-subttl {
        text-align: center;
    }
}

/* ADD TO CART */

.price {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
}
.add {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    gap: 1rem;
}
.add-qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    aspect-ratio: 1/1;
    padding: .5rem;
    border: .25rem solid var(--primary-color);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--secondary-font);
}
.add-lbl {
    font-size: 1.5rem;
}
.add-input {
    width: 2rem;
    height: 100%;
    border: none;
    text-align: right;
}
.add-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--primary-color);
    cursor: pointer;
    color: #fff;
    transition: background var(--transition-duration) var(--transition-function);
}
.add-cta:hover {
    background-color: var(--background-dark)
}

/* PICTURES */

.pictures {
    position: relative;
    display: flex;
    flex-direction: column;
}

.pictures-handler {
    position: absolute;
    top: calc(50% - 1.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    aspect-ratio: 1/1;
    font-size: 3rem;
    cursor: pointer;
}

.pictures-prev {
    left: 1rem;
}
.pictures-next {
    right: 1rem;
}

.pictures-img {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .pictures {
        max-width: 600px;
    }
    .pictures-handler {
        display: none;
    }
    .pictures-img {
        width: 100%;
        aspect-ratio: 1/1;
    }
}

/* THUMBS */

.thumbs {
    display: none;
}

@media screen and (min-width: 768px) {
    .thumbs {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        width: 100%;
    }
    .thumbs-itm {
        font-size:0;
    }
    .thumbs-img {
        width: 100%;
    }
}

/* SIMILAR */

.similar {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    overflow: hidden;
}
.similar-lst {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.similar-lnk {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    color: #000;
    background-color: #fff;
    height: 100%;
    transition: background var(--transition-duration) var(--transition-function);
}
.similar-img {
    width:100%;
}
.similar-ttl {
    font-size: 1.5rem;
    text-align: center;
}
.similar-price {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
}

@media screen and (min-width: 768px) {
    .similar-lnk:hover {
        background-color: #dddddd;
    }
}

/* REINSURANCE  */

.reinsur {
    padding: 2rem;
    background-color: var(--light-green);
}
.reinsur-lst {
    max-width: var(--container-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.reinsur-itm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 1rem;
}
.reinsur-img {
    height: 5rem;
}
.reinsur-txt {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .reinsur-lst {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* PAGE */

.page {
    margin: 0 auto;
    max-width: var(--container-width);
}

.page-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding-bottom: 2rem;
}  

.page-section {
    margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
    .page {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
    }

    .page-pics {
        grid-column: 1 / 1;
        grid-row: 1 / 3;
    }  
    .page-ttl {
        grid-column: 2 / 3;
    }
    .similar {
        grid-column: 1 / 3;
    }
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    color: #fff;
    background-color: var(--background-dark);
}
.footer-cp {
    text-align: center;
}

.legal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.legal-itm:not(:first-child)::before {
    content: "|";
    padding: 0 .5rem; 
}
.legal-lnk {
    color: #fff;
}